html {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}
.app-wrapper {
  display: grid;
  justify-content: center;
}
.home {
  height: 100vh;
  width: 66vw;
  display: grid;
  align-content: space-around;
}
.post-topic {
  margin: 0 4px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
